@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Jua&display=swap');
/************************
팝업 컨텐트
************************/
.popupContent{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: 300px 40px auto;
}

.topPopupContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
}
.leftPopupContent{
    top: 0;
    width: 100%;
    height: 100%;
}

.rightPopupContent{
    top: 0;
    width: 90%;
    height: 100%;
    margin-left: 40px;
    color: white;
    font-size: 1rem;
    font-family: 'Jua', sans-serif;
}

#projectName{
    font-size: 2rem;
    border-bottom: tomato 3px solid;
}

#hrPopup{
    margin-top: 20px;
}

.bottomPopupContent{
    margin: auto;
    width: 99%;
    height: 90%;
    overflow:auto;
    overflow-x: hidden;
}

#leftPopupImage{background-image: url(./assets/image/spinImage/project11.PNG);}
#leftPopupImage2{background-image: url(./assets/image/spinImage/homepagemonitor.PNG);}
#leftPopupImage3{background-image: url(./assets/image/spinImage/minimonitor.PNG);}
#leftPopupImage4{background-image: url(./assets/image/spinImage/travelersMonitor.png);}
#leftPopupImage5{background-image: url(./assets/image/spinImage/cgvmonitor.png);}
/* #leftPopupImage6{}
#leftPopupImage7{} */

#leftPopupImage, #leftPopupImage2, #leftPopupImage3, #leftPopupImage4, #leftPopupImage5, #leftPopupImage6, #leftPopupImage7{
    margin-left: 5%;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}


#projectsImage{background-image: url('./assets/image/spinImage/projects.png');}
#homepageImage{background-image: url('./assets/image/spinImage/homepagecontent.png');}
#miniGameImage{background-image: url('./assets/image/spinImage/Animation.gif');}
#exchageImage{background-image: url('./assets/image/spinImage/travelersContent.png');}
#cgvImage{background-image: url('./assets/image/spinImage/cgvcapture.PNG');}

#projectsImage, #homepageImage, #miniGameImage, #exchageImage, #exchageImage2, #cgvImage{
    margin: auto;
    width: 92%;
    height: 99%;
    background-size: contain;
    background-repeat: no-repeat;
}
.gitBox{
    width: 300px;
    height: 50px;
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
}
.gitBox > :nth-child(2){
    text-decoration: underline;
    color: coral;
}
.gitlogo{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-image: url(./assets/image/gitlogo.png);
    background-size: cover;
    animation: 2s gitAnimation infinite;
}
.gitlogo:hover {

    cursor: pointer;
    animation: 2s gitHoverAnimation infinite;
    box-shadow: 0 0 5px rgba(238, 68, 68, 0.829) inset,
        0 0 15px rgba(168, 73, 73, 0.829) inset,   
        0 0 30px rgba(133, 84, 84, 0.856) inset,
        0 0 5px rgba(43, 33, 33, 0.952);
}
@keyframes gitAnimation{
    50%{
        box-shadow: 0 0 5px rgba(105, 105, 105, 0.829) inset,
        0 0 15px rgba(143, 143, 143, 0.829) inset,   
        0 0 30px rgba(255, 255, 255, 0.856) inset,
        0 0 5px rgba(255, 255, 255, 0.952);
    }100%{

    }
}
@keyframes gitHoverAnimation{
    50%{
        box-shadow: 0 0 5px rgba(238, 68, 68, 0.829) inset,
        0 0 15px rgba(168, 73, 73, 0.829) inset,   
        0 0 30px rgba(133, 84, 84, 0.856) inset,
        0 0 5px rgba(43, 33, 33, 0.952);
    }100%{

    }
}