@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Jua&family=Bowlby+One&display=swap');
/*****************************
    ※기본 설정
*****************************/
*{
    outline: 0;
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
hr{     
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
canvas{
    width: 100%;
    height: 100%;
}

.container{
    z-index: -3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    transition: transform 0.7s;

    width: 500vw;
    height: 100vh;
    
}
.box{ 
    /* z-index: 1; */
    width:100vw; 
    height:100vh; 
    position:relative; 
    color:black;
    font-size:24pt;
    /* background-color: rgba(100, 100, 100, 0); */
    overflow: hidden;
}

/*****************************
    ※첫번째 세션
*****************************/
.background_Frame{
    background-color: rgb(80, 80, 80);
    z-index: 1;
    pointer-events: none;
}

#sun{
    z-index: -1;
    right: 30px;
    top: 30px;
    position: fixed;
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    background-color: yellow;
    transition: 4s;
}

.flipped #sun{
    background-color: red;
}

.reds #sun{
    background-color: white;
}

.mainSquare{
    z-index: 3;
    position: absolute;

    left: 40%;
    top: 30%;
   
    
    background-color: rgba(39, 39, 39, 0.5);
    border: solid white 1px;
    box-shadow: 0 0 5px rgba(105, 105, 105, 0.829) inset,
                0 0 15px rgba(143, 143, 143, 0.829) inset,   
                0 0 30px rgba(255, 255, 255, 0.856) inset,
                0 0 5px rgba(255, 255, 255, 0.952);
   

    width: 350px;
    height: 350px;
    transform: rotateZ(45deg);

    text-align: center;
}

#square{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 50%;
    transform: rotateZ(-45deg);
    left: 0%;
    top: 25%;

    user-select: none;
    pointer-events: none;
    /* background-color: red; */
    font-size: 44px;
    font-family: 'Monoton', cursive;
    color: blanchedalmond;
}

.changedSquare{
    background-color: red;
}

/*****************************
    ※두번째 세션
*****************************/
#frame2{

    display: flex; 
    justify-content: center;
    align-items: center;
}

.flyingbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/image/화창.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.flyingbox > *{
    margin-left: 60px;
}

#landBox{
    position: absolute;
    width: 100vw;
    height: calc(25% - 69px);
    bottom: 0px;
    background-color: rgba(83, 52, 16, 0.7);
}
.birds{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
#birdCanvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.frame2Topbar{
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.frame2Main{
    z-index: 2;
    position: absolute;
    width: 250px;
    height: 250px;
    top: calc(45% - 125px);
    left: calc(50% - 125px);
}

/*****************************
    ※세번째 세션
*****************************/

#frame3{
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-image: url(./assets/image/ttt.gif);

    perspective: 1000px;
    transform-style: preserve-3d;
}

#drag, #spin{
    position: relative;
    display: flex;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
}

#drag img{
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 20%;
    user-select: none;
    box-shadow: 0 0 8px yellow;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag img:hover{
    box-shadow: 0 0 15px #fffd,
                0 0 25px white;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#ground{
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
}

@keyframes spin{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

@keyframes spinRevert{
    from{
        transform: rotateY(360deg);
    }to{
        transform: rotateY(0deg);
    }
}


/*****************************
    ※팝업 설정
*****************************/
.popup {
    position: fixed;
    left: 20%;
    top: 0;
    width: 60%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: none;
    overflow: scroll;
    z-index: 3; 
}

.popup::-webkit-scrollbar {
    width: 10px;
}
.popup::-webkit-scrollbar-thumb {
background-color: #2f3542;
border-radius: 10px;
}
.popup::-webkit-scrollbar-track {
background-color: grey;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}
.popupTopbar{
    z-index: 5;
    text-align: right;
    position: fixed;
    top: 0px;
    width: calc(60% - 65px);
    height: 50px;
}
#outlinedIcon{
    z-index: 10;
    position: fixed;
    top: 0px;
    font-size: 50px;
 
    filter: invert(8%) sepia(95%) saturate(4590%) hue-rotate(358deg) brightness(101%) contrast(112%);
}
.bgForScroll{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 2;

}

/*****************************
    ※네번째 세션
*****************************/
#lastBox{
    display: grid;
    grid-template-rows: 20% auto 15%;

    background-color: blanchedalmond;
}

.nameBox{
    display: flex;
    width: 100%;
    height: 100%;
}

.aboutMe{
    margin-top: 3%;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Bowlby One', cursive;
    width: 30%;
    height: 60%;
    text-align: center;
    font-size: calc(1.2vh + 3vw);
    opacity: 0;
    border-bottom: tomato 5px solid;
}

.addAboutMe{
    animation: goingbox 1s linear;
    animation-fill-mode: both;
}

.infoBox{
    display: grid;
    grid-template-columns: 70% 30%;

    margin: auto;
    width: 85%;
    height: 90%;
}

.infoLeft{
    display: flex;
    flex-direction: column-reverse;
    background-image: url(./assets/image/my11.png);
    background-repeat: no-repeat;
    background-size: contain;
 
    width: 100%;
    animation: danceImg 3s infinite;
}

.addLeftRight{
    animation: opacityParent 3s linear;
    animation-fill-mode: both;
}

.infoRight{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    /* margin-top: 100px; */
    margin-left: 5%;
    perspective: 400px;
    opacity: 0;
}

.infoRight > *{
    display: flex;  /*안에 있는 박스를 가운데 위치시키기위함*/
    justify-content: center;
    align-items: center;
}
.myAll{
    font-family: 'Jua', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backface-visibility: hidden;

    display: flex;  /*안에 있는 박스를 가운데 위치시키기위함*/
    justify-content: center;
    align-items: center;

    flex-direction: column;
    transform: rotateY(180deg) translateZ(50px);;
    pointer-events: none;
    
}

.myInfo{
    pointer-events: none;
    font-size: 2.5vw;
    border-bottom: tomato 3px solid;
    margin-bottom: 0;
}

.myInfoValue{
    pointer-events: none;
    font-size: 1.4vw;
    margin-top: 0;
}

.footer{
    background-color: black;
}

.flipedInfo{
    position: relative;
    box-sizing: border-box;
    transition: 5s;
    transform-style: preserve-3d;
}

@keyframes goingbox{
    to{
        transform: translateX(83%);
        opacity: 1;
    }
}

@keyframes danceImg{
    50%{
        transform: translateY(-10%);
    }100%{
        transform: translateY(0%);
    }
}

@keyframes opacityParent{
    50%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

.flipAll{
    transform: rotateY(180deg);
    transition: 3s linear;
}

#aboveAll{
    transform: translateZ(50px);
    backface-visibility: hidden;
    pointer-events: none;
}

.turnFront{
    animation: turnFrontInfo 6s linear;
    animation-fill-mode: both;
}

@keyframes turnFrontInfo{
    20%{
        transform: rotateY(180deg);
    
    }80%{
        transform: rotateY(180deg);

    }100%{
        transform: translateY(0%);
    }
}

.turnBack{
    animation: turnBackInfo 6s linear;
    animation-fill-mode: both;
}

@keyframes turnBackInfo{
    20%{
        transform: rotateY(180deg);
    
    }80%{
        transform: rotateY(180deg);

    }100%{
        transform: translateY(0%);
    }
}

.overs{
       filter: invert(8%) sepia(95%) saturate(4590%) hue-rotate(358deg) brightness(101%) contrast(112%);
}

@media (max-width: 947px){
    .mainSquare{
        left: 35%;
        top: 30%;
        width: 250px;
        height: 250px;
    }
    
    #square{
        font-size: 30px;
    }
}

@media (max-width: 500px){
    .mainSquare{
        left: 35%;
        top: 30%;
        width: 150px;
        height: 150px;
    }
    
    #square{
        font-size: 14px;
    }
}